* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo Mono", monospace;
}
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

input {
  background-color: white;
  cursor: text;
  font-size: 17px;
}

html {
  background: url("background_img.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  background-color: rgba(240, 255, 255, .5);
  width: 60vw;
  height: 50vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: px;
}


button {
  border: 2px solid var(--darkestBlue);
  cursor: pointer;
  background-color: transparent;
  box-shadow: -2px 2px green;
}

button:hover {
  transform: translateY(-0.25em);
  box-shadow: -2px 4px blue;
}
a {
  color: blue;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
